/* Hier kannst du das Aussehen der Navbar mit CSS anpassen */

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-fill {
  flex: 1 1 auto;
}

.navbar-login {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .navbar-login {
    display: none;
  }
}
